<% if logged_in? %>

  <p>ログイン完了ユーザ: 
<%= current_user.name %>
</p>

<table>

 
    <% @all_ranks.each.with_index(1) do |post, i| %>
        <td><%= "第#{i}位" %></td>
        <td><%= image_tag post.image.thumb.url %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tbody>
</table>

<% else %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the PhotoUma</h1>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>

  </div>
</div>
<% end %>