<% if logged_in? %>

  <p>ログイン完了ユーザ: 
<%= current_user.name %>
</p>

<h3>お気に入りランキング</h3>
<div class="row row-eq-height">
<% @all_ranks.each.with_index(1) do |post, i| %>
<div class="col-md-2">
<div class="card-deck">
  <div class="card">
    <%= "第#{i}位" %>
<%= image_tag post.image.thumb.url, class:'card-img-top', class:'img-thumbnail' %>
    <div class="card-body">
      <%= link_to 'Show', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
</div>
<% end %>
</div>

<br>
<br>

<h3>新着</h3>
<div class="row row-eq-height">
<% @sinchaku_posts.each do |post| %>

<div class="col-md-2">
<div class="card-deck">
  <div class="card">
<%= image_tag post.image.thumb.url, class:'card-img-top', class:'img-thumbnail' %>
    <div class="card-body">
      <%= link_to 'Show', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
</div>
<% end %>
</div>


<% else %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the PhotoUma</h1>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>

  </div>
</div>
<% end %>